/* You can add global styles to this file, and also import other style files */
div{
    display: inline-block;
    border: 2px solid blue;
    width: 45%;
    margin: 10px;
    box-shadow: 10px 10px 5px lightcoral;
    padding: 5px;
    vertical-align: top;
}