<h1>My Component HTML Content</h1>
<hr/>
<p>{{title}}</p>
<p>This Product is Developed under the Supervision of {{developedBy}}</p>
<p>
    <i>All Rights Reserved-&copy;CopyRights-{{year}}</i>
</p>
<!-- <app-emp-detail [empId]="ids[0]" [empName]="names[0]" [empEmail]="emails[0]" ></app-emp-detail>
<app-emp-detail [empId]="ids[1]" [empName]="names[1]" [empEmail]="emails[1]" ></app-emp-detail>
<app-emp-detail [empId]="ids[2]" [empName]="names[2]" [empEmail]="emails[2]" ></app-emp-detail>
<app-emp-detail [empId]="ids[3]" [empName]="names[3]" [empEmail]="emails[3]" ></app-emp-detail> -->

<app-calc></app-calc>
<app-master></app-master>
<!-- <div *ngFor="let rec of empRecords">
    <app-emp-detail [empId]= "rec[0]" [empName]="rec[1]" [empEmail]="rec[2]" [empSalary]="rec[3] "></app-emp-detail>
</div> -->
<!-- <div>
    @for (rec of empRecords; track $index) {
        <div>
            <app-emp-detail [empId]="rec[0]" [empName]="rec[1]" [empEmail]="rec[2]"></app-emp-detail>
        </div> 
    }
</div> -->